//color
$color-default: #fff;
$color-ccc: #ccc;
$coloe_333: #333;
$color_999: #999;
$color_666: #666;
$color_232326: #232326;
$color_e93b3d: #e93b3d;
//bgc
$bgc-theme: #c82519;
$bgc-fff: #fff;

//font size
$font-size-base: 12px;
$font-size-2: $font-size-base + 2;
$size: 100%;

//z-index
$dropDown: 999;
$head-z-index: 99;
$swiper_index: 9;
$navbar_index: 999;

//size
$navbar-height: 50px;
$tabbar-height: 50px;
