.mr10 {
    margin-right: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mr20 {
    margin-right: 20px;
}
.mt20 {
    margin-top: 20px;
}
.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.mr70 {
    margin-right: 70px;
}
.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}
.plr30 {
    padding-left: 30px;
    padding-right: 30px;
}
.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}
.ptb108 {
    padding-top: 108px;
    padding-bottom: 100px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.bg_f {
    background: #fff;
}

.pb100 {
    padding-bottom: 100px;
}
.pl100 {
    padding-left: 100px;
}
.mtb100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mlr20 {
    margin-left: 20px;
    margin-right: 20px;
}
.mb60 {
    margin-bottom: 60px;
}
.p8 {
    padding: 8px;
}
.mr30 {
    margin-right: 30px;
}
.ptb40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.pl80 {
    padding-left: 80px;
}
.ptb4 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.ml20 {
    margin-left: 20px;
}
.mtb50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mb200 {
    margin-bottom: 200px;
}
.mt40 {
    margin-top:40px;
}
.mb40 {
    margin-bottom: 40px;
}
.pl20 {
    padding-left: 20px;
}
.pl160 {
    padding-left: 160px;
}
.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pl120 {
    padding-left: 120px;
}
.pl10 {
    padding-left: 10px;
}
.pr10 {
    padding-right: 10px;
}
.pt120 {
    padding-top: 120px;
}
.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.plr50 {
    padding-left: 50px;
    padding-right: 50px;
}
.pt100 {
    padding-top: 100px;
}
.pb50 {
    padding-bottom: 50px;
}
.pl250 {
    padding-left: 250px;
}
.pb20 {
    padding-bottom: 20px;
}
.mlr5 {
    margin-left: 5px;
    margin-right: 5px;
}
.pr30 {
    padding-right: 30px;
}
.pr40 {
    padding-right: 40px;
}
.pr80 {
    padding-right: 80px;
}
.pl180 {
    padding-left: 180px;
}
.pr70 {
    padding-right: 70px;
}
.pr4 {
    padding-right: 4px;
}
